* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;


}

body {
    background-image: url("https://static.square-enix-games.com/ffviir-backdrops/ffviir-zoom-cloud-shinra.jpg");
    background-position: center;
}

.container {

    .content-container {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 1300px;
        background-color: #000000;
        border-top: 1px solid rgba($color: #ffffff, $alpha: 0.2);
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.2);

        @media screen and (max-width: 500px) {
            width: 100vw;
            margin: 0;
        }

        .body {
            width: 100%;

            .title{
                color: white;
                font-size: 24px;
                font-weight: 700;
                text-align: center;
                margin: 20px 0;
            }

            .content{
                width: 80%;
                margin: 0 auto;

                .label{
                    color: white;
                }

                .add-user {
                    width: 100%;
                    display: flex;
                    justify-content: right;
    
                    .add {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 40px;
                        width: 130px;
                        color: white;
                        font-size: 18px;
                        font-weight: 500;
                        margin: 20px 0;
                        background-color: rgb(26, 175, 212);
                        border-radius: 10px;
                        margin-right: 20px;
    
                        cursor: pointer;
    
                        &:hover {
                            background-color: blue;
                        }
    
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }

        }

        .footer{
            margin-bottom: 30px;
        }

    }
}